{% extends 'mainapp/base.html' %}
{% block content %}
{% for g in goods %}
  <div class="list-group">
  <a href="{{ g.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <img src="{{ g.photo.url }}" alt="Card image cap">

<!--      <h5 class="mb-1">{{ g.title }}</h5>-->
      <small class="text-muted">Цена: {{ g.price }}</small>
    </div>
    <p class="mb-1">{{ g.title }}</p>
    <small class="text-muted">{{ g.description }}</small>
  </a>
</div>

{% endfor %}
{% endblock content %}